In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# The code was removed by Watson Studio for sharing.

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

In [4]:

body = client_f35b7feb7b1d4c88b94e05b7182aa652.get_object(Bucket='revolvesolutionsassignment-donotdelete-pr-o1dz3b9nowhljn',Key='airports.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()
body = client_f35b7feb7b1d4c88b94e05b7182aa652.get_object(Bucket='revolvesolutionsassignment-donotdelete-pr-o1dz3b9nowhljn',Key='airports.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_airport = pd.read_csv(body)
df_airport.head()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [6]:

body = client_f35b7feb7b1d4c88b94e05b7182aa652.get_object(Bucket='revolvesolutionsassignment-donotdelete-pr-o1dz3b9nowhljn',Key='flights.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_flight = pd.read_csv(body)
df_flight.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [7]:

body = client_f35b7feb7b1d4c88b94e05b7182aa652.get_object(Bucket='revolvesolutionsassignment-donotdelete-pr-o1dz3b9nowhljn',Key='planes.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_planes = pd.read_csv(body)
df_planes.head()

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan

In [8]:

body = client_f35b7feb7b1d4c88b94e05b7182aa652.get_object(Bucket='revolvesolutionsassignment-donotdelete-pr-o1dz3b9nowhljn',Key='weather.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_weather = pd.read_csv(body)
df_weather.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

In [9]:
#Total Number of days the flight table cover
sum = 0
df_flight_grouped = df_flight.groupby("month")
for key, item in df_flight_grouped:
  sum = sum + df_flight_grouped.get_group(key).groupby("day").ngroups
sum

365

In [10]:
#number of departure cities flight table covers
df_flight_grouped = df_flight.groupby("origin").ngroups
df_flight_grouped

3

In [11]:
#relationship between flights and planes table (tailnum column is the only point of link between the two datasheet)
df_f = df_flight
df_p = df_planes
df_f.corr(df_p)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [12]:
#airplane manufacturer incurred the most delays in the analysis period
flight_dep = df_flight["dep_delay"].to_numpy()
flight_arr = df_flight["arr_delay"].to_numpy()
flight_tail = df_flight["tailnum"].to_numpy()
flight_dep = np.nan_to_num(flight_dep)
flight_arr = np.nan_to_num(flight_arr)
total_delay = flight_dep + flight_arr
ind = total_delay.argmax(axis=0)
tailname = flight_tail[ind]
planes_tail = df_planes["tailnum"].to_numpy()
planes_manufacturer = df_planes["manufacturer"].to_numpy()
ind_planes = np.where(planes_tail == tailname)
planes_manufacturer[ind_planes][0]

'AIRBUS'

In [13]:
#two most connected cities
m = 0
origin_ind = 0
dest_ind = 0
df_flight_grouped = df_flight.groupby("origin")
for key, item in df_flight_grouped:
  p = df_flight_grouped.get_group(key).groupby("dest")
  q = p.count()
  n = q["origin"].to_numpy()
  k = max(n)
  if m < k:
    m = k
    origin_ind = key
    ind = np.argmax(n)
    dest_ind = q.index[ind]
print(origin_ind, dest_ind)

JFK LAX